//-----------------------------
//------General--------------
//-----------------------------

//css-reset
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}
label{
	cursor: pointer;
}
a{
	text-decoration: none;
	cursor: pointer;
}

//my custom general styles
body{
	font: 15px/1.15 arial, sans-serif;
}